extends _template.pug
block title
	title Название

block header
	include include/_header-regular.pug

block breadcrumbs
	.container
		ul.breadcrumbs
			li
				a(href="index.html") Главная
			li
				a(href="services.html") Услуги

block content
	main
		.container
			h1  Тут контент
	include include/_aside